.cart {
    font-family: 'Courier New', Courier, monospace !important;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cart h1{
    font-family: 'Courier New', Courier, monospace !important;
    font-weight: 100;
    text-align: center;
    margin:0px auto;
    color: #FFEBEB;
    border-bottom: 1px solid #fff9f3 ;
}

.cart-body{
    font-family: 'Courier New', Courier, monospace !important;
    display: flex;
    margin:0px auto;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin: 2.5rem;
    border: 1px solid #414b3b;
    border-radius: 8px;

}

.cart-product{
    display: flex;
    align-items: center;
    height: fit-content;
    flex-direction: column;
    justify-content: center;
    
}

.cart{
    font-weight: 100;
    text-transform: uppercase;
    font-size: calc(15px + 2vmin);
    color: #FFEBEB;
    margin-bottom: 5px;
    text-align: initial;

}

.cart-img{
    width: 250px;
    margin:1rem 5rem;
}

.cart-unit{
    color: #FFEBEB;
    font-size: calc(10px + 2vmin);

}

.cart-price {
    color: #FFEBEB;
    font-size: 22px;
    font-weight: 900;
    padding-top: 2px;
    margin-top: 4px;
}

.cart-msm{
    margin: 25px 0 25px;
    color: #FFEBEB;
}

.cart-total{
    color: black;
    font-size: 25px;
}

cart-detail {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
}
