
.Inicio {
    position: relative;
 
}

.boton {
    position: absolute;
    bottom: 13%;
    right: 50%;
    color: #AB8742;
    border-radius: 8px;
    border: 1px solid #fff9f3;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    font-size: 30px;
    list-style: none;
    text-decoration: none;
    background-color: #fff9f3;

}

.Inicio img {
    width: auto;
    height: auto;
    
}